{% extends 'base.html.twig' %}

{% block title %}New Dircab{% endblock %}

{% block body %}
    <h1>Create new Dircab</h1>

    {{ include('dircab/_form.html.twig') }}

    <a href="{{ path('dircab_index') }}">back to list</a>
{% endblock %}
