
<Footer>
	<section id="footer" style="background-color:#465d54">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Liens externes</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://assemblee-nationale.mg/"><i class="fa fa-angle-double-right"></i>Siteweb</a></li>
						<li><a href="http://www.hcc.gov.mg/"><i class="fa fa-angle-double-right"></i>HCC</a></li>
						
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Liens internes</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Intranet</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Base Depute</a></li>
						
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/2424.mg/posts/1183339895375111"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				
				
			</div>	
		</div>
	</section>
	</Footer>