{% extends 'base.html.twig' %}

{% block title %}compte d’utilisateur{% endblock %}

{% block body %}
    <h1> Créer un compte d’utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}"> list des utilisateurs</a>
{% endblock %}
